.c-section{
  &__title{
    color:$title-black;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 200;
    margin: .3em 0;

    &:before{
      content: "";
      display: block;
      margin: 0 auto .3em;
      width: 3em;
      height: 3px;
      background: $secondary-color;
    }
  }
  &__subtitle{
    color: $title-black;
    font-size: 1.4em;
  }
  &__description{
    @media #{$medium-and-down} {
      // styles for medium screens and down
      text-align: center;
    }
  }
}
